<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.dongyang.dfgg.member.dao.MemberDAO">

    <select id="findByAccount" parameterType="String" resultType="Integer">
        SELECT COUNT(*)
          FROM TBL_MEMBER
         WHERE ACCOUNT = #{account}
    </select>

    <select id="findByPassword" parameterType="String" resultType="String">
        SELECT PASSWORD
          FROM TBL_MEMBER
         WHERE ACCOUNT = #{account}
    </select>

    <select id="findByMember" resultType="MemberDTO">
        SELECT ID, ACCOUNT, NICKNAME, CREATED_AT, UPDATED_AT
          FROM TBL_MEMBER
         WHERE ACCOUNT = #{account}
    </select>

    <insert id="insertMember" parameterType="MemberDTO">
        INSERT INTO TBL_MEMBER (ACCOUNT, PASSWORD, NICKNAME, CREATED_AT)
        VALUES(#{account}, #{password}, #{nickname}, now())
    </insert>

</mapper>
